@import "variables";
@import "mixins";

.excel__header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;

    .input{
        margin: 0;
        padding: 2px 7px;
        color: #000;
        border: 1px solid transparent;
        border-radius: 2px;
        min-width: 1px;
        height: 20px;
        font-size: 18px;
        line-height: 22px;
        outline: none;
        &:hover{
            border: 1px solid $border-color;
        }
        &:focus{
            outline: 2px solid #1a73e8;
        }
    }
    .button{
        @include button(red)
    }
}